<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
    
      <head>
        <title>Polls index page</title>
      </head>
      <body>
        <h1> Saying </h1>
        hello world to All ! 

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/polls/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
         
         <br/>
         <a href="{% url 'add_category'%}" >Add New Category</a> 
        <a href = '/polls/about'> About </a> <br/>
        <img src="{% static "images/Polling.gif" %}" alt = "Polling Picture"/> 
      </body>
</html>

