<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
    
      <head>
        <title>Polls index page</title>
      </head>
      <body>
        {% if user.is_authenticated %}
         <h1>My site  says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>My site says... hello world!</h1>
        {% endif %}
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/polls/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
         
         <br/>
         <a href="{% url 'add_category'%}" >Add New Category</a> <br/>
         <a href = '/polls/about'> About </a> <br/>
         <a href = "/polls/register/">Register Here</a> <br/>
         <a href="/polls/login/">Login</a> <br/> 
         <p> You have visited our website {{visits}} times</p>
        <img src="{% static "images/Polling.gif" %}" alt = "Polling Picture"/> 
      </body>
</html>

